body {
  margin: 0;
  font-family: 'FuturaMedium' !important;

}

@font-face {
  font-family: 'FuturaHeavy';
  src: local('FuturaHeavy'), url(./fonts/Futura-Heavy.ttf) format('truetype');
}

@font-face {
  font-family: 'FuturaMedium';
  src: local('FuturaMedium'), url(./fonts/Futura-medium.ttf) format('truetype');
}

@font-face {
  font-family: 'MadeSans';
  src: local('MadeSans'), url(./fonts/MADE Outer Sans Black PERSONAL USE.otf) format('truetype');
}
